/*===========================
    1. COMMON css
===========================*/

@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i|Roboto:300,400,400i,500,500i,700,700i&display=swap");

body {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #64656a;
    overflow-x: hidden;
}

:root {
    --bs-primary: #000000;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
    text-decoration: none;
    outline: none;
}

a:focus,
a:hover {
    text-decoration: none;
}

i,
span,
a {
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    color: #000000;
    margin: 0px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

ul,
ol {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #64656a;
    margin: 0px;
}

.bg_cover {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.pt-60 {
    padding-top: 60px !important;
}

.pt-120 {
    padding-top: 120px !important;
}

.pagination {
    justify-content: center;
    margin-top: 50px;
}

.w-100 {
    width: 100%;
}

div#particles-js canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 50;
}

.ui-datepicker td.ui-datepicker-current-day a {
    background-color: var(--bs-primary);
}


/*===== All Button Style =====*/

.main-btn {
    display: inline-block;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid #fff;
    padding: 0 24px;
    font-size: 14px;
    line-height: 56px;
    border-radius: 0px;
    color: #fff;
    cursor: pointer;
    z-index: 5;
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
    background-color: transparent;
}

@media (max-width: 767px) {
    .main-btn {
        font-size: 13px !important;
        padding: 0 18px;
    }

    .main-btn.main-btn-2 {
        font-size: 13px !important;
        padding: 0 18px;
    }
}

.btn-primary {
    background-color: var(--bs-primary);
    color: #fff;
    border-color: var(--bs-primary);
}

.btn-primary:hover {
    background-color: var(--bs-white);
    color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-primary:active {
    background-color: var(--bs-primary) !important;
    color: #fff;
    border-color: var(--bs-primary) !important;
}

.btn-primary:focus {
    box-shadow: none !important
}

.main-btn:hover {
    background-color: var(--bs-primary);
    color: #fff;
    border-color: var(--bs-primary);
}

.main-btn.main-btn-2 {
    background-color: var(--bs-primary);
    color: #fff;
    border-color: var(--bs-primary);
}

.main-btn.main-btn-2:hover {
    background-color: transparent;
    border-color: var(--bs-primary);
    color: var(--bs-primary);
}

.section-title {
    padding-bottom: 35px;
}

.section-title span {
    font-size: 18px;
    color: var(--bs-primary);
    font-weight: 300;
    text-transform: capitalize;
    position: relative;
    z-index: 10;
}

.section-title span img {
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.section-title .title {
    font-size: 32px;
    font-weight: 900;
    padding-top: 5px;
}

.flag {
    width: 50px;
    height: 140px;
    box-sizing: content-box;
    padding-top: 15px;
    position: absolute;
    background: #fd5d14;
    top: 0px;
    left: -110px;
    color: white;
    font-size: 11px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .flag {
        left: -84px;
    }
}

.flag span {
    color: #fff;
    font-size: 16px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    transform: rotate(-90deg);
    margin-left: -30px;
    margin-top: 35px;
}

.flag::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 25px solid #fff;
    border-left: 24px solid transparent;
    border-right: 25px solid transparent;
}

.flag.flag-2 {
    height: 85px;
    width: 30px;
    left: -1px;
    top: -1px;
}

.flag.flag-2::after {
    border-bottom: 15px solid #fff;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.flag.flag-2 span {
    font-size: 11px;
    font-weight: 700;
    margin-top: 18px;
    margin-left: -16px;
}

.buttonBar {
    display: none;
}

.base-btn {
    background-color: var(--bs-primary);
    border: 1px solid var(--bs-primary);
}

.facebook-login-btn,
.facebook-login-btn:active {
    background-color: #3b5998 !important;
    border: 1px solid #3b5998 !important;
}

.google-login-btn {
    background-color: #db3236 !important;
}


/*preloader*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    z-index: 99999;
}

.revolve {
    position: absolute;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.color-1 {
    background-color: var(--bs-primary) !important;
}

.color-2 {
    background-color: #000000 !important;
}

.rate {
    background-image: url("../img/rate-star.png");
    background-position: 0 -13px;
    background-repeat: repeat-x;
    height: 13px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    width: 95px;
    margin-bottom: 2px;
}

.rating {
    background-image: url("../img/rate-star.png");
    background-position: 0 0;
    background-repeat: repeat-x;
    height: 13px;
}


/*===========================
    2.HEADER css
===========================*/

.navigation {
    padding: 0;
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: transparent;
    padding-left: 70px;
    padding-right: 70px;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .navigation {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media only screen and (max-width: 991px) {
    .navigation {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navigation {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 767px) {
    .navigation {
        padding-left: 20px;
        padding-right: 20px;
        top: -20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navigation {
        padding: 0 0 32px;
    }
}

@media (max-width: 767px) {
    .navigation {
        padding: 0 0 32px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .navigation {
        padding: 32px 0;
    }
}

.navigation.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    animation: sticky 1s;
    background-color: #000000;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.04);
    padding: 10px 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navigation.sticky {
        padding: 20px 0;
    }
}

@media (max-width: 767px) {
    .navigation.sticky {
        padding: 20px 0;
    }
}

.navigation.sticky .navbar .navbar-nav .nav-item a {
    line-height: 40px;
}

.navigation .navbar {
    position: relative;
    padding: 0;
}

.navbar-brand img {
    max-width: 150px;
    max-height: 75px;
}

.navigation .navbar .navbar-toggler {
    padding: 0;
}

.navigation .navbar .navbar-toggler .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: var(--bs-primary);
    margin: 5px 0;
    display: block;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.navigation .navbar .navbar-toggler.active .toggler-icon:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 7px;
}

.navigation .navbar .navbar-toggler.active .toggler-icon:nth-of-type(2) {
    opacity: 0;
}

.navigation .navbar .navbar-toggler.active .toggler-icon:nth-of-type(3) {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    top: -7px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navigation .navbar .navbar-collapse {
        position: absolute;
        top: 124%;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 8;
        padding: 10px 16px;
        box-shadow: 0 26px 48px 0 rgba(0, 0, 0, 0.15);
    }
}

@media (max-width: 767px) {
    .navigation .navbar .navbar-collapse {
        position: absolute;
        top: 124%;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 8;
        padding: 10px 16px;
        box-shadow: 0 26px 48px 0 rgba(0, 0, 0, 0.15);
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .navigation .navbar .navbar-collapse {
        top: 124%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navigation .navbar .navbar-nav {
        margin-right: 0;
    }

    .navigation .navbar .navbar-nav {
        text-align: left;
    }
}

@media (max-width: 767px) {
    .navigation .navbar .navbar-nav {
        margin-right: 0;
    }
}


@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .navigation .navbar .navbar-nav .nav-item {
        margin: 0 14px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .navigation .navbar .navbar-nav .nav-item {
        margin: 0 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navigation .navbar .navbar-nav .nav-item {
        margin-right: 0px;
        margin-left: 0px;
    }
}

@media (max-width: 767px) {
    .navigation .navbar .navbar-nav .nav-item {
        margin-right: 0px;
        margin-left: 0px;
    }
}

.navigation .navbar .navbar-nav .nav-item a {
    font-size: 16px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    margin: 0;
    line-height: 100px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .navigation .navbar .navbar-nav .nav-item a {
        font-size: 15px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .navigation .navbar .navbar-nav .nav-item a {
        font-size: 13px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navigation .navbar .navbar-nav .nav-item a {
        padding: 0;
        display: block;
        color: #404040;
        border: 0;
        margin: 0;
        line-height: 40px;
    }
}

@media (max-width: 767px) {
    .navigation .navbar .navbar-nav .nav-item a {
        padding: 0;
        display: block;
        color: #404040;
        border: 0;
        margin: 0;
        line-height: 40px;
        text-align: left;
    }
}

.navigation .navbar .navbar-nav .nav-item a>i {
    padding-left: 5px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navigation .navbar .navbar-nav .nav-item a>i {
        display: none;
    }
}

@media (max-width: 767px) {
    .navigation .navbar .navbar-nav .nav-item a>i {
        display: none;
    }
}

.navigation .navbar .navbar-nav .nav-item a:hover {
    color: var(--bs-primary);
    text-align: left;
}

.navigation .navbar .navbar-nav .nav-item .sub-menu {
    position: absolute;
    left: 0;
    top: 100%;
    width: 260px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    z-index: 99;
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navigation .navbar .navbar-nav .nav-item .sub-menu {
        position: relative !important;
        width: 100% !important;
        left: 0 !important;
        top: auto !important;
        opacity: 1 !important;
        visibility: visible !important;
        display: none;
        right: auto;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transition: all none ease-out 0s;
        -moz-transition: all none ease-out 0s;
        -ms-transition: all none ease-out 0s;
        -o-transition: all none ease-out 0s;
        transition: all none ease-out 0s;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        text-align: left;
        border-top: 0;
    }
}

@media (max-width: 767px) {
    .navigation .navbar .navbar-nav .nav-item .sub-menu {
        position: relative !important;
        width: 100% !important;
        left: 0 !important;
        top: auto !important;
        opacity: 1 !important;
        visibility: visible !important;
        display: none;
        right: auto;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transition: all none ease-out 0s;
        -moz-transition: all none ease-out 0s;
        -ms-transition: all none ease-out 0s;
        -o-transition: all none ease-out 0s;
        transition: all none ease-out 0s;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        text-align: left;
        border-top: 0;
    }
}

.navigation .navbar .navbar-nav .nav-item .sub-menu>li {
    position: relative;
    margin: 0 !important;
}

.navigation .navbar .navbar-nav .nav-item .sub-menu>li .sub-nav-toggler {
    color: #404040;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.navigation .navbar .navbar-nav .nav-item .sub-menu>li a {
    display: block;
    padding: 8px 24px;
    position: relative;
    color: #404040;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    border-radius: 0;
    margin: 0 0;
    line-height: 30px;
    text-align: left;
}

.navigation .navbar .navbar-nav .nav-item .sub-menu>li a i {
    float: right;
    font-size: 14px;
    margin-top: 5px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navigation .navbar .navbar-nav .nav-item .sub-menu>li a i {
        display: none;
    }
}

@media (max-width: 767px) {
    .navigation .navbar .navbar-nav .nav-item .sub-menu>li a i {
        display: none;
    }
}

.navigation .navbar .navbar-nav .nav-item .sub-menu>li a .sub-nav-toggler i {
    display: inline-block;
}

.navigation .navbar .navbar-nav .nav-item .sub-menu>li .sub-menu {
    right: auto;
    left: 100%;
    top: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navigation .navbar .navbar-nav .nav-item .sub-menu>li .sub-menu {
        padding-left: 30px;
    }
}

@media (max-width: 767px) {
    .navigation .navbar .navbar-nav .nav-item .sub-menu>li .sub-menu {
        padding-left: 30px;
    }
}

.navigation .navbar .navbar-nav .nav-item .sub-menu>li .sub-menu li a::before {
    display: none;
}

.navigation .navbar .navbar-nav .nav-item .sub-menu>li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
}

.navigation .navbar .navbar-nav .nav-item .sub-menu>li.submenus:hover>.sub-menu {
    display: block;
}

.navigation .navbar .navbar-nav .nav-item .sub-menu>li:hover .sub-nav-toggler {
    color: #000;
}

.navigation .navbar .navbar-nav .nav-item .sub-menu>li:hover>a {
    background-color: var(--bs-primary);
    color: #fff !important;
}

.navigation .navbar .navbar-nav .nav-item .sub-menu>li:hover>a::before {
    opacity: 1;
}

.navigation .navbar .navbar-nav .nav-item:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.navigation .navbar .navbar-nav .nav-item .sub-nav-toggler {
    display: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navigation .navbar .navbar-nav .nav-item .sub-nav-toggler {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px 14px;
        font-size: 16px;
        background: none;
        border: 0;
        color: #404040;
    }
}

@media (max-width: 767px) {
    .navigation .navbar .navbar-nav .nav-item .sub-nav-toggler {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px 14px;
        font-size: 16px;
        background: none;
        border: 0;
        color: #404040;
    }
}

.navigation .navbar .navbar-nav .nav-item .sub-nav-toggler img {
    width: 30%;
}

.navigation .navbar .navbar-nav .nav-item.active a {
    color: var(--bs-primary);
}

.navigation .navbar .navbar-nav .nav-item.active a::before {
    width: 100%;
}

.navigation .navbar .navbar-nav .nav-item.active a {
    color: var(--bs-primary);
}

.navigation .navbar .navbar-nav li.submenus ul {
    position: absolute;
    left: 100%;
    width: 220px;
    top: 0;
    display: none;
    background-color: #ffffff;
}

.navigation .navbar .navbar-nav li.submenus:hover>ul {
    display: block;
}

.navigation .navbar .navbar-nav li.submenus::after {
    position: absolute;
    content: '\f054';
    font-family: 'Font Awesome 5 Free';
    top: 54%;
    font-weight: 700;
    color: #000;
    transform: translateY(-50%);
    font-size: 12px;
    right: 16px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.navigation .navbar .navbar-nav li.submenus:hover::after {
    color: #fff;
}

@media only screen and (max-width: 991px) {
    div#navbarFive {
        max-height: 450px;
        overflow-y: scroll;
    }

    .navigation .navbar .navbar-nav .nav-item .sub-menu>li a {
        text-align: left;
    }

    .navigation .navbar .navbar-nav .nav-item a:hover {
        text-align: left;
    }

    .navigation .navbar .navbar-nav li.submenus::after {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navigation .navbar .navbar-btns {
        position: absolute;
        top: 50%;
        right: 70px;
        transform: translateY(-50%);
    }
}

@media (max-width: 767px) {
    .navigation .navbar .navbar-btns {
        position: absolute;
        top: 50%;
        right: 70px;
        transform: translateY(-50%);
    }
}

.navigation .navbar .navbar-btns .header-times {
    position: relative;
    text-align: left;
}

.navigation .navbar .navbar-btns .header-times i {
    position: absolute;
    left: -50px;
    color: var(--bs-primary);
    font-size: 34px;
    top: 50%;
    transform: translateY(-50%);
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .navigation .navbar .navbar-btns .header-times i {
        left: -38px;
    }
}

.navigation .navbar .navbar-btns .header-times span {
    color: #fff;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    font-size: 14px;
}

.navigation .navbar .navbar-btns .header-times p {
    color: #fff;
    opacity: .5;
    font-weight: 300;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .navigation .navbar .navbar-btns .header-times p {
        font-size: 12px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {

    .navbar-expand-lg .navbar-nav {
        margin: 0 auto;
    }

    .navigation {
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width: 1024px) {
    .navigation .navbar .navbar-btns .header-times {
        display: none;
    }
}

.navigation .navbar .navbar-btns a {
    font-size: 14px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    line-height: 36px;
    height: 40px;
    padding: 0 12px;
    border-radius: 5px;
    margin-left: 30px;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .navigation .navbar .navbar-btns a {
        margin-left: 30px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .navigation .navbar .navbar-btns a {
        margin-left: 10px;
        font-size: 13px;
        padding: 0 10px;
    }
}

.navigation.navigation-2.sticky {
    background-color: #fff;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.04);
}

.navigation.navigation-2 .navbar .navbar-nav .nav-item a {
    color: #000000;
}

.navigation.navigation-2 .navbar .navbar-nav .nav-item a:hover {
    color: var(--bs-primary);
}

.navigation.navigation-2 .navbar .navbar-nav .nav-item.active a {
    color: var(--bs-primary);
}

.navigation.navigation-2 .navbar .navbar-btns a {
    background-color: transparent;
    color: #000000;
    border-color: #000000;
}

.navigation.navigation-2 .navbar .navbar-btns a:hover {
    background: var(--bs-primary);
    color: #fff;
    border-color: var(--bs-primary);
}

.navigation.navigation-3 .navbar .navbar-btns a {
    border-color: #fff;
    background-color: transparent;
    color: #fff;
}

.navigation.navigation-3 .navbar .navbar-btns a:hover {
    border-color: var(--bs-primary);
    background: var(--bs-primary);
}

@-webkit-keyframes sticky {
    0% {
        top: -200px;
    }

    100% {
        top: 0;
    }
}

@keyframes sticky {
    0% {
        top: -200px;
    }

    100% {
        top: 0;
    }
}

.support-bar {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ffffff1a;
}

.sticky .support-bar {
    display: none;
}

.infos {
    color: #fff;
    text-align: left;
    opacity: .7;
}

.infos span i {
    color: var(--bs-primary);
    display: inline-block;
    margin-right: 8px;
}

.infos span:first-child {
    margin-right: 20px;
}

.links {
    display: block;
    text-align: right;
}

.links a:hover {
    color: var(--bs-primary);
}

.language {
    display: inline-block;
    margin-left: 17px;
    position: relative;
}

a.language-btn {
    position: relative;
    text-decoration: none;
    padding-right: 15px;
    text-align: left;
    -webkit-transition: .5s;
    transition: .5s;
    color: #fff;
}

.language-btn::after {
    content: "\f078";
    position: absolute;
    right: 0;
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    top: 2px;
    font-size: 10px;
}

ul.language-dropdown {
    text-align: center;
    position: absolute;
    z-index: 10;
    top: 25px;
    left: 0;
    width: 120px;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: .5s;
    transition: .5s;
}

ul.language-dropdown.open {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}

ul.dropdown li {
    display: block;
}

ul.language-dropdown li {
    position: relative;
    background-color: #000;
    z-index: -1;
}

ul.language-dropdown li a {
    display: block;
    position: relative;
    padding: 12px 16px;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    text-decoration: none;
}

ul.language-dropdown li a:hover {
    color: #fff;
}

ul.language-dropdown li a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background: var(--bs-primary);
    z-index: -1;
    -webkit-transition: .5s;
    transition: .5s;
}

ul.language-dropdown li a:hover::before {
    width: 100%;
}

ul.language-dropdown li:last-child a {
    border-bottom: none;
}

.language a i {
    margin-right: 3px;
}

ul.login {
    display: inline-block;
    position: relative;
    margin-left: 43px;
}

ul.login::before {
    content: "|";
    position: absolute;
    left: -24px;
    color: #fff;
    opacity: .6;
}

.links ul.social-links {
    display: inline-block;
    position: relative;
    margin-right: 30px;
}

.links ul.social-links li {
    display: inline-block;
    margin-right: 15px;
}

.links ul.social-links li a {
    display: block;
    color: #fff;
    font-size: 14px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.links ul.social-links li a:hover {
    color: var(--bs-primary);
}

@media only screen and (max-width: 1199px) {
    .links {
        text-align: center;
    }

    .links ul.social-links {
        display: none;
    }
}

@media only screen and (max-width: 575px) {
    .links {
        padding-top: 24px;
    }
}

.links ul.social-links::after {
    content: "|";
    position: absolute;
    right: -28px;
    color: #fff;
    opacity: .7;
}

.links ul.social-links li:last-child {
    margin-right: 0;
}

ul.login a {
    color: #fff;
}


/*===========================
    3.BANNER css
===========================*/
.banner-content {
    position: relative;
    z-index: 150;
}

.banner-area {
    height: 950px;
    position: relative;
    z-index: 10;
}

.banner-area img {
    display: inline-block;
}

.banner-content.particles {
    position: relative;
    z-index: 100;
}

.banner-area .banner-content .title {
    font-size: 60px;
    color: #fff;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .banner-area .banner-content .title {
        font-size: 48px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .banner-area .banner-content .title {
        font-size: 50px !important;
    }
}

@media (max-width: 767px) {
    .banner-area .banner-content .title {
        font-size: 36px !important;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .banner-area .banner-content .title {
        font-size: 60px !important;
    }
}

@media only screen and (max-width: 575px) {
    .banner-area {
        height: 750px;
    }
}

.banner-area .banner-content p {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    padding-top: 30px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .banner-area .banner-content p {
        font-size: 16px !important;
    }
}

@media (max-width: 767px) {
    .banner-area .banner-content p {
        font-size: 15px !important;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .banner-area .banner-content p {
        font-size: 18px !important;
    }
}

.banner-area .banner-content ul {
    margin-top: 58px;
}

.banner-area .banner-content ul li {
    display: inline-block;
    margin-right: 18px;
}

.banner-area .banner-content ul li:last-child {
    margin-right: 0;
}

.banner-area .banner-thumb {
    position: absolute;
    right: 230px;
    top: 50%;
    transform: translateY(-50%);
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .banner-area .banner-thumb {
        right: 0;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .banner-area .banner-thumb {
        right: 0;
        width: 50%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .banner-area .banner-thumb {
        right: 0;
        width: 45%;
    }
}

@media (max-width: 767px) {
    .banner-area .banner-thumb {
        right: 0;
    }
}

.banner-area .banner-thumb img {
    width: 100%;
    max-width: 720px;
}

.banner-area.banner-area-2 {
    position: relative;
}

.banner-area.banner-area-2::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/banner-bg-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-area.banner-area-2 .banner-content .title {
    color: #000000;
}

.banner-area.banner-area-2 .banner-content .title span {
    color: var(--bs-primary);
}

.banner-area.banner-area-2 .banner-content p {
    color: #798795;
}

.banner-area.banner-area-2 .banner-content ul li a {
    border-color: #000000;
    color: #000000;
}

.banner-area.banner-area-2 .banner-content ul li a:hover {
    border-color: var(--bs-primary);
    color: #fff;
    background: var(--bs-primary);
}

.banner-area.banner-area-2 .banner-content ul li a.main-btn-2 {
    border-color: var(--bs-primary);
    color: #fff;
    background: var(--bs-primary);
}

.banner-area.banner-area-2 .banner-content ul li a.main-btn-2:hover {
    background-color: transparent;
    border-color: #000000;
    color: #000000;
}

.banner-area.banner-area-2 .banner-thumb img {
    width: 90%;
}

.banner-area.banner-3-area {
    position: relative;
}

.banner-area.banner-3-area::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.banner-area.banner-3-area .banner-content .title {
    font-size: 60px;
    font-weight: 400;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .banner-area.banner-3-area .banner-content .title {
        font-size: 54px;
    }
}

@media (max-width: 767px) {
    .banner-area.banner-3-area .banner-content .title {
        font-size: 36px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .banner-area.banner-3-area .banner-content .title {
        font-size: 44px;
    }
}

.banner-area.banner-3-area .banner-content span {
    font-size: 24px;
    color: #fff;
    display: block;
    padding-bottom: 5px;
    padding-top: 24px;
}

@media (max-width: 767px) {
    .banner-area.banner-3-area .banner-content span {
        font-size: 18px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .banner-area.banner-3-area .banner-content span {
        font-size: 20px;
    }
}

.banner-slide-3 .slick-arrow,
.banner-slide-2 .slick-arrow,
.banner-slide .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 70px;
    width: 70px;
    text-align: center;
    line-height: 64px;
    border: 2px solid var(--bs-primary);
    color: #fff;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
    z-index: 1;
    transition: all linear 0.3s;
}

.banner-slide-3 .slick-arrow:hover,
.banner-slide-2 .slick-arrow:hover,
.banner-slide .slick-arrow:hover {
    background: var(--bs-primary);
}

.banner-slide-3 .slick-arrow.prev,
.banner-slide-2 .slick-arrow.prev,
.banner-slide .slick-arrow.prev {
    left: 10px;
}

.banner-slide-3 .slick-arrow.next,
.banner-slide-2 .slick-arrow.next,
.banner-slide .slick-arrow.next {
    right: 10px;
}

.banner-slide-2 .slick-arrow {
    color: #000000;
}

.page-title-area {
    padding-top: 170px;
    padding-bottom: 70px;
    background-size: cover;
    bac