/**************************/
/******** header CSS ******/
/**************************/
.header-area {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 999;
}

.header-top {
  padding: 8px 0;
  background: #000308;
  margin-bottom: 20px;
}
.header-top .container {
  display: flex;
  justify-content: space-between;
}
.header-top .header-top-left {
  display: flex;
  gap: 30px;
  color: #C4C4C4;
  font-size: 14px;
  font-weight: 500;
}
.header-top .header-top-left span {
  border-inline-end: 1px solid #C4C4C4;
  padding-inline-end: 30px;
}
.header-top .header-top-center {
  color: #C4C4C4;
}
.header-top .header-top-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-top .header-top-right .language {
  position: relative;
}
.header-top .header-top-right .language i {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  color: #C4C4C4;
}
.header-top .header-top-right .language .nice-select {
  background: transparent;
  border: none;
  line-height: inherit;
  height: inherit;
  font-weight: 500;
  color: #C4C4C4;
  font-size: 16px;
  padding-inline-start: 25px;
  padding-inline-end: 12px;
}
.header-top .header-top-right .language .nice-select .list {
  max-height: 150px;
  overflow-y: auto;
}
.header-top .header-top-right .language .nice-select .list .option {
  line-height: 35px;
  min-height: 35px;
  color: var(--bs-heading-color);
}
.header-top .header-top-right .language .nice-select:after {
  border: none;
  content: "+";
  font-family: "Font Awesome 6 Pro";
  font-size: 13px;
  top: 2px;
  transform-origin: inherit;
  margin: 0;
  transform: inherit;
  right: 0;
}
.header-top .header-top-right .language .nice-select.open:after {
  content: "\f068";
}
.header-top .header-top-right .user-btn {
  border: none;
  box-shadow: none;
  padding-inline-start: 20px;
  border-inline-start: 1px solid #C4C4C4;
}
.header-top .header-top-right .user-btn i {
  color: #fff;
  text-align: center;
  margin-inline-end: 4px;
}
.header-top .header-top-right .user-btn .btn {
  border: none;
  box-shadow: none;
  padding: 0;
  color: #C4C4C4;
}
.header-top .header-top-right .user-btn .btn:hover {
  color: var(--bs-primary);
}
.header-top .header-top-right .user-btn .dropdown-item:hover {
  background: var(--bs-primary);
  color: #fff;
}
.header-top .header-top-right .user-btn .dropdown-toggle::after {
  display: none;
}
.header-top .header-top-right .dropdown-menu {
  --bs-dropdown-min-width: 8rem;
  --bs-dropdown-item-padding-x: 15px;
  --bs-dropdown-item-padding-y: 6px;
  --bs-dropdown-padding-y: 4px;
}
.header-top .header-top-right .dropdown-menu .dropdown-item {
  color: var(--bs-heading-color);
}

.navbar {
  --bs-navbar-padding-y: 0;
  background: transparent;
}
.navbar .container {
  border-radius: 120px;
  position: relative;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  background: rgb(255, 255, 255);
}
.navbar .navbar-brand {
  max-width: 180px;
  padding: 0;
}
@media (max-width: 1199.98px) {
  .navbar {
    --bs-navbar-padding-y: 8px;
  }
}
.navbar .navbar-nav .nav-link {
  display: block;
  padding: 18px 20px;
  font-size: 16px;
  font-weight: 500;
  color: var(--bs-heading-color);
  text-decoration: none;
  background: none;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  position: relative;
}
.navbar .navbar-nav .nav-link:hover {
  color: var(--bs-primary);
}
.navbar .navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background: var(--bs-primary);
  bottom: -1px;
  left: 0px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.navbar .navbar-nav .nav-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.navbar .navbar-nav .dropdown-item {
  display: block;
  width: 100%;
  padding: 10px 20px;
  clear: both;
  font-weight: 500;
  color: var(--bs-heading-color);
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  transition: all 0.4s ease;
  border-bottom: 1px solid var(--bs-border-color);
  position: relative;
  overflow: hidden;
}
.navbar .navbar-nav .dropdown-item::after {
  position: absolute;
  content: "";
  left: 0px;
  top: 50%;
  transform: translateY(-50%) scale(0);
  height: 70%;
  width: 2px;
  background: var(--bs-primary);
  transition: all 0.4s ease;
}
.navbar .navbar-nav .dropdown-item:hover {
  color: var(--bs-primary);
  border-bottom: 1px solid var(--bs-primary);
}
.navbar .navbar-nav .dropdown-item:hover::after {
  transform: translateY(-50%) scale(1);
}
.navbar .navbar-nav .dropdown-item.active::after {
  transform: translateY(-50%) scale(1);
}
.navbar .navbar-nav .dropdown-item.active {
  color: var(--bs-primary);
  border-bottom: 1px solid var(--bs-primary);
}
.navbar .navbar-nav .dropdown-menu li:last-child .dropdown-item {
  border-bottom: none;
}
.navbar .navbar-right {
  display: flex;
  align-items: center;
  gap: 24px;
}
.navbar .navbar-right .btn-icon {
  position: relative;
  font-size: 24px;
  font-weight: 300;
  color: var(--bs-heading-color);
  height: auto;
  display: inline-block;
  width: auto;
}
.navbar .navbar-right .btn-icon span {
  position: absolute;
  top: 0px;
  right: -9px;
  background: var(--bs-primary);
  color: #fff;
  font-size: 11px;
  border-radius: 50%;
  height: 18px;
  text-align: center;
  width: 18px;
  line-height: 18px;
}
.navbar .navbar-right .reservation-btn {
  margin-inline-start: 10px;
}

@media (max-width: 1199.98px) {
  .header-top {
    display: none;
  }
  .navbar .container {
    padding: 4px 30px;
  }
}
/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .navbar-nav .dropdown-menu li {
    position: relative;
    transition: all 0.4s ease;
  }
  .navbar-nav .dropdown-menu li:last-child {
    border-bottom: 0;
  }
  .navbar-nav .dropdown-menu .submenu-toggle {
    position: relative;
  }
  .navbar-nav .dropdown-menu .submenu-toggle::before {
    content: "\f105";
    border: 0;
    font-family: "Font Awesome 6 Pro";
    font-size: 15px;
    line-height: 1;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: 10px;
  }
  .navbar-nav .dropdown-menu .submenu {
    display: none;
    position: absolute;
    border: 0;
    left: 100%;
    top: -2px;
    border-bottom: 5px solid var(--bs-primary);
    animation: fadeInUp 500ms ease-in-out forwards;
    border-radius: 0 0 10px 10px;
  }
  .navbar-nav .dropdown-menu .submenu-left {
    right: 100%;
    left: auto;
  }
  .navbar-nav .dropdown-menu > li:hover {
    background-color: rgba(var(--bs-body-bg-rgb) 0.7);
  }
  .navbar-nav .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}
.nav-link.dropdown-toggle::after {
  content: "\f107";
  border: 0;
  margin-inline-start: 5px;
  font-family: "Font Awesome 6 Pro";
  font-size: 15px;
  line-height: 1;
  top: 6px;
  position: relative;
}

.navbar-nav .nav-link.active {
  color: var(--bs-primary);
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
/* ============ desktop view .end// ============ */
.navbar .dropdown .dropdown-menu {
  --bs-dropdown-min-width: 12rem;
}

.navbar .header-right .dropdown .dropdown-menu {
  --bs-dropdown-min-width: 7rem;
}

.navbar .navbar-nav .dropdown .dropdown-menu.show {
  transition: all 0.4s ease-in-out;
  --bs-border-radius: 0;
  --bs-dropdown-spacer: 0;
  --bs-dropdown-border-width: 0;
  --bs-dropdown-link-hover-color: var(--bs-primary);
  --bs-dropdown-link-active-color: var(--bs-primary);
  --bs-dropdown-link-hover-bg: transparent;
  --bs-dropdown-link-active-bg: transparent;
  --bs-dropdown-item-padding-x: 20px;
  --bs-dropdown-item-padding-y: 8px;
  --bs-dropdown-font-size: 16px;
  --bs-dropdown-max-width: 5rem;
  --bs-dropdown-item-separator-color: var(--bs-dropdown-link-color);
  animation: fadeUp 500ms ease-in-out forwards;
  transform-origin: top center;
  border-bottom: 5px solid var(--bs-primary);
  border-radius: 0 0 10px 10px;
}

@keyframes fadeUp {
  0% {
    transform: translatey(25px);
    opacity: 0;
  }
  100% {
    transform: translatey(0);
    opacity: 1;
  }
}
/* ============ small devices ============ */
.menu-toggler {
  width: 34px;
  height: 34px;
  padding: 0;
  border: 0;
  background: var(--bs-primary);
  z-index: 1000;
  transition: all 0.4s ease;
}
.menu-toggler:hover {
  box-shadow: 0px 0px 5px 5px rgba(var(--bs-primary-rgb), 0.24);
}

.menu-toggler span {
  position: relative;
  display: block;
  width: 22px;
  margin-inline: auto;
  height: 2px;
  background: #fff;
  border-radius: 10px;
  transition: transform 200ms 0ms, top 200ms 160ms;
}

.menu-toggler span:nth-child(1) {
  top: -4px;
}

.menu-toggler span:nth-child(3) {
  top: 4px;
}

.header-area .menu-toggler.active span:nth-child(1) {
  top: 2px;
  transform: rotateZ(45deg);
  transition: top 200ms 0ms, transform 200ms 160ms;
}

.header-area .menu-toggler.active span:nth-child(2) {
  transform: scale(0);
}

.header-area .menu-toggler.active span:nth-child(3) {
  top: -2px;
  transform: rotateZ(-45deg);
  transition: top 200ms 0ms, transform 200ms 160ms;
}

/*===================================
============== Header Sticky ========
====================================*/
.sticky-navbar {
  position: fixed;
  top: 20px;
  width: 100%;
  z-index: 1000;
  animation: fadeInDown 0.5s;
}

/*===========================================
================= menu offcanvas ============
===========================================*/
.offcanvas,
.offcanvas-xxl,
.offcanvas-xl,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm {
  --bs-offcanvas-width: 300px;
}

.menu-close {
  background: var(--bs-primary);
  border: 1px solid var(--bs-primary);
  color: #fff;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  transition: all 0.4s ease;
}
.menu-close:hover {
  background: transparent;
  color: var(--bs-primary);
}

@media (max-width: 1199.98px) {
  .navbar .navbar-brand {
    max-width: 140px;
    padding: 0;
  }
}
.mobile-menu .nav-link {
  font-size: 16px;
  font-weight: 500;
  color: var(--bs-heading-color);
  transition: all 0.3s ease;
  padding: 10px 10px 10px 0;
  text-decoration: none;
}
.mobile-menu .nav-item:not(:last-child) .nav-link {
  border-bottom: 1px solid var(--bs-border-color);
}
.mobile-menu .navbar-nav .nav-link.active,
.mobile-menu .navbar-nav .nav-link.show {
  color: var(--bs-primary);
}
.mobile-menu .dropdown-menu {
  position: inherit !important;
  transform: inherit !important;
  inset: inherit !important;
  border: none !important;
  box-shadow: none !important;
  display: none;
  padding: 0;
}
.mobile-menu .nav-item .dropdown-item {
  font-size: 16px;
  font-weight: 500;
  color: var(--bs-heading-color);
  padding: 10px 0px 10px 0;
  margin-inline-start: 15px;
  width: auto;
}
.mobile-menu .dropdown-menu li:not(:last-child) .dropdown-item {
  border-bottom: 1px solid var(--bs-border-color);
}
.mobile-menu .nav-link.dropdown-toggle {
  position: relative;
}
.mobile-menu .nav-link.dropdown-toggle::after {
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  position: absolute;
}
.mobile-menu .dropdown-item.submenu-toggle {
  position: relative;
}
.mobile-menu .submenu {
  animation: inherit !important;
}
.mobile-menu .submenu-toggle::before {
  content: "\f107" !important;
  border: 0;
  font-family: "Font Awesome 6 Pro";
  font-size: 15px;
  line-height: 1;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  right: 0px !important;
  border-radius: 0 !important;
}
.mobile-menu .dropdown-item:focus,
.mobile-menu .dropdown-item:hover {
  color: var(--bs-heading-color);
  background-color: transparent;
}
.mobile-menu .dropdown-item.active,
.mobile-menu .dropdown-item:active {
  color: var(--bs-primary);
  text-decoration: none;
  background-color: transparent;
}
.mobile-menu .submenu {
  margin-inline-start: 15px;
}

.mobilemenuoffcanvas .group-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.mobilemenuoffcanvas .group-buttons .language {
  position: relative;
}
.mobilemenuoffcanvas .group-buttons .language i {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  color: var(--bs-heading-color);
}
.mobilemenuoffcanvas .group-buttons .language .nice-select {
  background: transparent;
  border: none;
  line-height: inherit;
  height: inherit;
  font-weight: 500;
  color: var(--bs-heading-color);
  font-size: 16px;
  padding-inline-start: 25px;
  padding-inline-end: 12px;
}
.mobilemenuoffcanvas .group-buttons .language .nice-select .list {
  max-height: 150px;
  overflow-y: auto;
}
.mobilemenuoffcanvas .group-buttons .language .nice-select .list .option {
  line-height: 35px;
  min-height: 35px;
  color: var(--bs-heading-color);
}
.mobilemenuoffcanvas .group-buttons .language .nice-select:after {
  border: none;
  content: "+";
  font-family: "Font Awesome 6 Pro";
  font-size: 13px;
  top: 4px;
  transform-origin: inherit;
  margin: 0;
  transform: inherit;
  right: 0;
  color: var(--bs-heading-color);
}
.mobilemenuoffcanvas .group-buttons .language .nice-select.open:after {
  content: "\f068";
  color: var(--bs-heading-color);
}
.mobilemenuoffcanvas .group-buttons .user-btn {
  border: none;
  box-shadow: none;
  padding-inline-start: 30px;
  border-inline-start: 1px solid #C4C4C4;
}
.mobilemenuoffcanvas .group-buttons .user-btn i {
  color: var(--bs-heading-color);
  text-align: center;
  margin-inline-end: 4px;
}
.mobilemenuoffcanvas .group-buttons .user-btn .btn {
  border: none;
  box-shadow: none;
  padding: 0;
  color: var(--bs-heading-color);
}
.mobilemenuoffcanvas .group-buttons .user-btn .btn:hover {
  color: var(--bs-primary);
}
.mobilemenuoffcanvas .group-buttons .user-btn .dropdown-item:hover {
  background: var(--bs-primary);
  color: #fff;
}
.mobilemenuoffcanvas .group-buttons .user-btn .dropdown-toggle::after {
  display: none;
}
.mobilemenuoffcanvas .group-buttons .dropdown-menu {
  --bs-dropdown-min-width: 8rem;
  --bs-dropdown-item-padding-x: 15px;
  --bs-dropdown-item-padding-y: 6px;
  --bs-dropdown-padding-y: 4px;
}
.mobilemenuoffcanvas .group-buttons .dropdown-menu .dropdown-item {
  color: var(--bs-heading-color);
}
.mobilemenuoffcanvas .navbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
  margin-top: 30px;
}
.mobilemenuoffcanvas .navbar-right .btn-icon {
  position: relative;
  font-size: 24px;
  font-weight: 300;
  color: var(--bs-heading-color);
  height: auto;
  display: inline-block;
  width: auto;
}
.mobilemenuoffcanvas .navbar-right .btn-icon span {
  position: absolute;
  top: 0px;
  right: -9px;
  background: var(--bs-primary);
  color: #fff;
  font-size: 11px;
  border-radius: 50%;
  height: 18px;
  text-align: center;
  width: 18px;
  line-height: 18px;
}
.mobilemenuoffcanvas .navbar-right .reservation-btn {
  margin-inline-start: 10px;
}

@media (max-width: 992px) {
  .navbar-brand {
    max-width: 140px;
  }
}
/*===========================================
=================End menu offcanvas ============
===========================================*/

/*# sourceMappingURL=header-10.css.map */
